<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PeopleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.People">
    <!--@mbg.generated-->
    <!--@Table b-->
    <result column="rygl_sex" jdbcType="VARCHAR" property="sex" />
    <result column="rygl_jh" jdbcType="VARCHAR" property="jh" />
    <result column="rygl_sfxx" jdbcType="VARCHAR" property="sfxx" />
    <result column="rygl_tele" jdbcType="VARCHAR" property="tele" />
    <result column="rygl_ch" jdbcType="VARCHAR" property="ch" />
    <result column="rygl_dh" jdbcType="VARCHAR" property="dh" />
    <result column="rygl_addr" jdbcType="VARCHAR" property="addr" />
    <result column="rygl_zwbm" jdbcType="VARCHAR" property="zwbm" />
    <result column="rygl_type" jdbcType="VARCHAR" property="type" />
    <result column="rygl_syx" jdbcType="VARCHAR" property="syx" />
    <result column="rygl_xgsj" jdbcType="VARCHAR" property="xgsj" />
    <result column="rygl_xzsj" jdbcType="VARCHAR" property="xzsj" />
    <result column="rygl_scsj" jdbcType="VARCHAR" property="scsj" />
    <result column="rygl_scbj" jdbcType="VARCHAR" property="scbj" />
    <result column="rygl_beizhu" jdbcType="VARCHAR" property="beizhu" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    rygl_sex, rygl_jh, rygl_sfxx, rygl_tele, rygl_ch, rygl_dh, rygl_addr, rygl_zwbm, 
    rygl_type, rygl_syx, rygl_xgsj, rygl_xzsj, rygl_scsj, rygl_scbj, rygl_beizhu
  </sql>
</mapper>